  /* .my-container {
    border: 1px solid green;
}

.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue; 
}


/* create header bar */
.header-info {
    background-color: #19535f ;
    color: #9c95dc;
} 

.page-links {
    background-color: #19535f;
    color: #9c95dc;
}

body {
    background-color: #f1e9db;
    color: #170a1c;
}
